<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soln.SE35BCA74A3BE95A854E67E90FEB1DBB3">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
